@import "@/styles/_mixin";

.book-container {
    display: flex;
    flex-direction: column;
    row-gap: 18px;

    margin-bottom: 40px;
    padding-bottom: 40px;

    border-bottom: 2px dashed black;

    @include mq(lg) {
        row-gap: 25px;
    }

}

.flex-container {



    @include mq(lg) {
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;

    }

    @include mq(xxl) {
        padding: 0 200px;

    }

}

.book-area {
    flex: 1 0 0;
}

.image-area {
    flex: 1 0 0;
    height: fit-content;

    @include mq(lg) {
        position: sticky;
        top: 0;
    }
}

.subinfo-container {
    display: flex;
    flex-direction: column;
    row-gap: 18px;


    >h3 {
        padding: 0 10px;
        margin-bottom: 20px;
    }

}

.paragraph-container {

    position: relative;

    padding: 10px;
    background-color: rgb(247, 247, 247);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 0px 2px rgba(71, 71, 71, 0);

    transition: box-shadow 0.5s ease-in-out;

    @include mq(lg) {
        padding: 20px;
    }

    >.number {
        position: absolute;
        top: 7px;
        right: 10px;
        font-size: 20px;
        color: rgb(160, 160, 160);

        @include mq(lg) {
            top: 15px;
            right: 15px;
            font-size: 25px;
        }
    }

    >.top {
        font-weight: bold;

        @include mq(lg) {
            margin-bottom: 15px;
        }
    }

    >.text {
        font-size: 15px;

        @include mq(lg) {
            font-size: 20px;
        }
    }

    &:hover {}
}

.main-container {
    padding: 15px 15px 80px;


    margin: auto;
}


.highlighted {
    box-shadow: 0 0 0px 2px rgb(56, 201, 111);
}

.characer-list {
    margin-bottom: 10px;

    >h3 {
        font-size: 12px;
        margin-bottom: 7px;
    }

    >span {
        margin-right: 10px;
        padding: 2px 8px;
        border-radius: 5px;
    }
}

.play-button {
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    >button {



        align-items: center;
        background-clip: padding-box;
        background-color: #005555;
        border: 1px solid transparent;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 3rem;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: 100%;

    }
}

.title-container {
    padding: 0 5px;
    margin: 10px 0 20px;
    max-width: 1000px;

    @include mq(lg) {
        margin: auto;
    }

    >h2 {
        font-size: 20px;
    }

    >p {
        margin-bottom: 10px;
    }

    border-bottom: 1px black solid;
}

.image-container {
    background-color: rgb(26, 0, 0);
    padding: 10px;
    margin: 20px 0;
    height: 300px;

    @include mq(lg) {
        height: 80svh;
    }
}